:root {
/*     --foreground: #d8d9da; */
    --foreground: #caccce;
}


body {
  padding: 5vh;
  font-family: sans-serif;
  background-color: black;
  color: var(--foreground);
  background-color: #1f2224;
}

#top {
    text-align: center;
/*     border-bottom: 1px solid white; */
/*     padding-bottom: 2vh; */
/*     background-color: black; */
/*     magin-top: 25vh; */
    margin-bottom: 3vh;
}

h1 {
/*     color: var(--foreground); */
    font-size: 50pt;
/*     font-family: 'Helvetica'; */
    font-weight: 900;
/*     text-rendering: optimizeLegibility; */
/*     font-family: 'Fira Code', monospace; */
    display:inline;

    padding-top: 1.5%;
    padding-bottom: 1.5%;
}


#left {
/*     direction:rtl;  */
    width: 25%;
    float: left;
/*     outline: 1px white solid; */
/*     height: 100%; */
/*     margin-top: 3%; */
/*     margin-bottom: 3%; */
/*     border-right: 1px solid var(--foreground); */
    overflow-y: auto;
    max-height: 100vh;
    height: 75vh;
}

.item {
    color: var(--foreground);
    padding: 10%;
    padding-top: 5%;
/*     margin: 2%; */
/*     border-right: 1px solid white; */
/*     border-bottom: 1px solid white; */
    border-bottom: none;
    border-top: none;
    border-right: none;
}

h3 {
    font-weight:bolder;
    font-size: 20pt;
}




#right {
    float: right;
    margin-top: 0%;
/*     display: flex; */
/*     margin: auto; */
/*     background-color: green; */
/*     overflow: scroll; */
    width: 70%;
      height: 75vh;

}



.clickable {
/*     padding: 2vh; */
    margin-top: 2px;
    margin-bottom: 2px;
}


.clickable:hover {
    border-top: 1px solid var(--foreground);
    border-bottom: 1px solid var(--foreground);
    border-right: none;
/*     margin-top: 0px;
    margin-bottom: 0px; */
/*     transform: scaleY(0.9);
    transform: scaleX(0.9); */
}




.slide-container {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
  border-top: 1px solid var(--foreground);
  border-bottom: 1px solid var(--foreground);
  width: 70vw;
    height: 100%;
 float: right;
    
    
}


.slide {
  scroll-snap-align: start;
  min-width: 100%;
  min-height: 75%; /*calc(100%-100px); */
  display: flex;
  align-items: center;
  justify-content: center;
/*   border: 5px dotted green; */
/*   border-right: 1px dotted var(--foreground); */
/*     margin-right: 5%; */
/*     background-color: black; */
    margin-top: 5%;
    margin-bottom: 5%;
}


.slide * {
    max-width: 50%;
}

p {
/*     width: 100vw; */
}

img {
    margin: 3%;
    max-width: 33%;
}


/* #left {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
#left::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
} */

/* .slide-container {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.slide-container::-webkit-scrollbar { 
    display: none; 
} */





